@tailwind base;
@tailwind components;
@tailwind utilities;


.roboto {
    font-family: var(--roboto);
  }
.rubik {
    font-family: var(--rubik)
  }

  @keyframes progress-bar-stripes {
    from {
      background-position-x: 100%;
    }
    to {
      background-position-x: 0;
    }
  }